/* screen - main-feed */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--ebk500);

}

.main-feed {
  background-color: var(--ebk500);
  display: flex;
  flex-direction: column;
  width: 375px;
}

.navigationbar-header {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 72px;
    width: 375px;
    padding: 0 18px 0 17px;
    justify-content:space-between
}

 .main-feed section {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 375px;
     margin-bottom: 40px;
}

.main-feed .feed-post {
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top:24px;
  padding: 32px;
    width:340px;
}

.main-feed .feed-post-title {
  margin-bottom: 24px;
}
.main-feed .feed-post-body{
    margin-bottom: 24px;
    color: var(--ebk800);
    white-space : normal;

}

.feed-post-img{
      margin-bottom: 24px;
    
}
.slide_img {
      height: 276px;
      object-fit: cover;
      width: 276px;
    border: 1px var(--ebk300) solid;
    border-radius: 8px;
}


.img_nav{
      margin: 8px auto;   
}

.feed-post-img ul {
      border-radius: 2px;
      height: 4px;
      display: flex;
      align-items: center;
      width: 56px;
}

.feed-post-img ul li{
      list-style: none;    
}

.ellipse-20 {
  background-color: var(--ebblue);
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.ellipse-2 {
  background-color: var(--ebk300);
  border-radius: 2px;
  height: 4px;
  margin-left: 8px;
  margin-top: 2px;
  width: 4px;
}

.label_product {
  background-color: var(--ebred);
  border-radius: 4px;
  position: absolute;     
  height: 16px;
  width: 72px;
  top:16px;
  left: 16px;
}
.label_product h6{
    color:white;
}

.label_company {
  background-color: var(--ebred);
  border-radius: 4px;
  position: absolute;     
  height: 16px;
  width: 72px;
  top:16px;
  left: 16px;
}
.label_company h6{
    color:white;
}

table{
    border: 1px var(--ebk300) solid;
    border-radius: 8px;
    width: 276px;
    border-spacing: 0;  
    margin-bottom: 24px;
}

th{
    height: 196px;
    position: relative;
}
td{
    background-color: var(--ebblue);
    border-radius: 0 0 8px 8px;
    height:75px;
    padding: 0px 8px;
}
td h3{
    color:white;
    line-height: normal;
} 
td h5{
    color:var(--ebk500);  
} 

.main-feed .feed-post-footer {
    display: flex;
    flex-direction: column;
    height: 52px;
    width: 276px;
}

.main-feed .feed-post-footer-entity {
    display:flex;
    align-items: center;
    color: var(--ebk700);
    text-decoration: none;
    white-space : nowrap;
    text-overflow: ellipsis;
    font-family: Open Sans;
    font-size: 12px;
    color: var(--ebk700);
    margin-bottom: 16px;
}
.main-feed .feed-post-footer-entity img {
    border: 1px solid var(--ebk500);
    border-radius: 11px;
    margin-right:8px;
}

.main-feed .company-name {
  align-self: center;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 9px;
  min-width: 89px;
}
.feed-post-info{
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-size: 12px;
    color: var(--ebk700);
}
.main-feed .feed-post-footer ul li{
    display: inline-block;
    padding-right: 8px;
}

.main-feed .count-save {
  height: 10px;
  width: 10px;
}
.main-feed section footer img {
    display: flex;
    margin-right: 8px;
    }
.main-feed section footer {
    display: flex;
    align-items: flex-start;
    width: 276px;
}
section footer ul{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 12px;
    width: 232px;
    list-style: none;
}
section footer ul li{
    display: flex;
    text-align: left;
    padding-right: 8px;

}


