:root {
	--black: #000000;
	--ebk500: #d8d8d8;
	--ebk700: #acacac;
	--ebk800: #828282;
	--ebk300: #ECECEC;
	--ebred: #f12535;
	--ebblue: #002855;
	--white: #ffffff;

	--font-size-l: 24px;
	--font-size-m: 16px;
	--font-size-s: 12px;

	--font-family-open_sans: "Open Sans", Helvetica;
}

h1 {
	font-family: Open Sans;
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
}

h2 {
	font-family: Open Sans;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}

h3 {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 20px;
}

h4 {
	font-family: Open Sans;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

h5 {
	font-family: Open Sans;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}

h6 {
	font-family: Open Sans;
	font-size: 12px;
	line-height: 16px;
}

p {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 22px;

}

.hashtag a {
	font-family: Open Sans;
	font-size: 12px;
	color: blue;
	line-height: 20px;
}

.alphatag a {
	font-family: Open Sans;
	font-size: 12px;
	color: var(--ebred);
	line-height: 20px;
}
